<!doctype html>
<html lang="en">
  <head>
    <title>Add New Food</title>
  </head>
  <body>
    <h1>Add New Food</h1>
    <form action="{{ url_for('add_user') }}" method="post">
      <label for="first_name">Food Name:</label><br />
      <input type="text" id="food_name" name="food_name" required /><br />
      <label for="last_name">How Easy is it to Make (1-10):</label><br />
      <input type="text" id="ease_of_making" name="ease_of_making" required /><br />
      <label for="genre">How Good does it Taste (1-10):</label><br />
      <input type="text" id="taste" name="taste" required /><br />
      <input type="submit" value="Submit" />
            <label for="dietary_class">Dietary Class:</label><br />
      <select name="dietary_class" id="dietary_class">
          <option value="1">None</option>
          <option value="2">Vegetarian</option>
          <option value="3">Vegan</option>
      </select><br /><br />
    </form>
  </body>
</html>
