<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rankings List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Rankings List</h2>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark"> <!-- creates a dark background for the table header -->
                <tr>
                    <th>Food</th>
                    <th>Dietary Type</th>
                    <th>Ease of Making</th>
                    <th>Taste</th>
                    <th>Total Score</th>
                </tr>
            </thead>
            <tbody> <!-- table body -- loop through all of the users -->
                {% for output in outputs %}
                <tr>
                    <td>{{ output[0] }}</td>
                    <td>{{ output[1] }}</td>
                    <td>{{ output[2] }}</td>
                    <td>{{ output[3] }}</td>
                    <td>{{ output[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </body>
</html>
