<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- display a flash message here, if necessary -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h1 class="mt-5">Database Editor</h1>
        <div class="mt-3">
            <!-- Add User Button -->
            <a href="/add-food" class="btn btn-primary">Add Food</a>
            <!-- Delete User Button -->
            <a href="/delete-food" class="btn btn-danger">Delete Food</a>
            <!-- Update User Button -->
            <a href="/update-food" class="btn btn-secondary">Update Food</a>
            <!-- View Food Rankings -->
            <a href="/viewdb" class="btn btn-info">View Food Rankings</a>
        </div>
    </div>
</body>
</html>
